.box {
    border: 1px solid #333333;
width: 350px;
height: 100px;
overflow: hidden;

}

.boxtwo {
    border: 1px solid #333333;
    width: 350px;
    height: 100px;
    overflow: scroll;

}

.wrapper {
    font-size: lem;

}

.px{
    width: 200px;

}

.vw {
    width: 10vw;

}

.em {
    border: 1px solid #333333;
    width: 10em;

}

html {
    font-size: 14px;

}

.em li{
    font-size: 1.3em;       

}

.rems li {
    font-size: 1.3rem;

}

.p {
    margin: 0;
    background-image: repeating-linear-gradient(
    to top,
    lightskyblue 0 2px,
    transparent 2px 11h

    );

}

.wrapperTwo {
    width: 400px;
    border: 5px solid rebeccapurple

}

.pwTwo {
    width: 200px;
    margin: 2px;
    border: 3px solid rebeccapurple

}

.percent {
    width: 40%;
    margin:2px;
    border: 3px solid rebeccapurple;

}

.one {
    border: 1px solid black;
    background-color: antiquewhite;

}

.two {
    border: 1px solid black;
    background-color: blueviolet;

}

.three {
    border: 1px solid black;
    background-color: greenyellow;

}

.oneHex {
    border: 1px solid black;
    background-color: #02798b;

}

.twoHex {
    border: 1px solid black;
    background-color: #c55da1;

}

.threeHex {
    border: 1px solid black;
    background-color: #128a7d;

}

.oneRGB {
    border: 1px solid black;
    background-color: rgb(2, 121, 139);

}

.twoRGB {
    border: 1px solid black;
    background-color: rgb(197, 93, 16);

}

.threeRGB {
    border: 1px solid black;
    background-color: rgb(18, 123, 23);

}

.img {
    border: 5px solid darkblue;
    width: 50px;
    height: 50px;

}

.boxThree{
    border: 5px solid darkblue;
    width: 300px;
    margin:10%
    padding:10%

}

.boxFour {
    border: 5px solid darkblue;
    min-height: 150px;
    width: 200px;

}

.boxFive {
    border: 5px solid darkblue;
    width: 200vw;
    height: 20vh;
    font-size: 10vh;

}

.boxSix{
    width: 200px;
    height: 200px;
    border: 5px solid darkblue;

}

.imgtwo{
    height:100%
    width:100%

}


.cover {
    object-fit: cover;
a,\

}

.contain {
    object-fit: contain;

}